@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
 




 
html {
    font-size: 25px;
    font-family: 'Macondo', cursive;
 }


:root {
  margin: 0;
  background-color: #282c34;
  text-align: center;
  font-family: 'Macondo', cursive;
  
}

div{
  background-color: #282c34;
  color:cornflowerblue;
  text-align: center;
}

li{
  list-style-type: none;
}

h1{
  background-color: black;
  font-family: 'Macondo', cursive;
}

button{
  color: black;
  background-color:chartreuse;
}

p{
  font-family: 'Macondo', cursive;
}

h3{
  background-color: #282c34;
  font-family: 'Macondo', cursive;
}

form{
  font-family: 'Macondo', cursive;
}
table{
  font-family: 'Macondo', cursive;
  text-align:right;
}

img{
  width: 1200px;
  height: 700px;
}